ASCIIsome/Resources/CharSets/CharSetSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:element name="CharSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="CharInfo">
          <xs:complexType>
            <xs:attribute name="GrayscaleIndex" type="xs:double" use="required" />
            <xs:attribute name="Character" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="DisplayName" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
