ASCIIsome/Resources/ConfigSchemaV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:element name="ASCIIsome.config">
    <xs:complexType>
      <xs:all>
        <xs:element name="DisplayLanguage" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="IsAspectRatioKept" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="IsDynamicGrayscaleRangeEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="IsGrayscaleRangeInverted" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CharSets" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Include" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
